PORT=3001
CLIENT_URL=http://localhost:3000

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_CALLBACK_URL=http://localhost:3001/api/auth/callback

TWITCH_BOT_CLIENT_ID=
TWITCH_BOT_CLIENT_SECRET=
TWITCH_BOT_REFRESH_TOKEN=
TWITCH_BOT_USERNAME=

GOOGLE_APPLICATION_CREDENTIALS=serviceAccountKey.json

WEBHOOK_CALLBACK_URL=
WEBHOOK_SECRET=

REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_URL=
